.body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    
}
.form{
    max-width: 500px;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 1px 1px 6px 2px #dededee0;
    background-color: #000000;
    color: white;
    box-shadow: 1px 1px 5px 5px rgb(88, 88, 88);
    
}

.btt{
    background-color: rgb(0, 191, 255);
    border: none;
    padding: 5px 20px;
        
}

button:hover{
    background-color: blue;
}