@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
.body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #242730;
    
}
.form{
    max-width: 500px;
    padding: 40px;
    border-radius: 8px;
    background-color: #e9ebce;
    color: rgb(0, 0, 0);
    box-shadow: none;
    
}

.btt{
    background-color: #d73547;
    border: none;
    padding: 10px 20px;
    color: #ffffff;
    font-weight: bold;
    opacity: 0.6;
}

.btt:hover{
    background-color: #d73547;
    /* border: 1px #d400ff; */
    opacity: 1;
}